.presentation {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 6.8rem;

    background: linear-gradient(45deg, #00f58d, #00acef, #1d2b5e, #1f2a4a);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 2rem;
}

.container-presentation h1,
.container-presentation h2,
.container-presentation h3 {
    color: rgba(255, 255, 255, 0.816);
}

.container-presentation h2 {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}

.container-presentation h1 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    border-right: 2px solid rgba(255, 255, 255, 0.816);
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms steps(80) infinite normal, typing 6s steps(80) 1s infinite normal both;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 17.089rem;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.816);
    }

    to {
        border-right-color: transparent;
    }
}

.container-presentation h3 {
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.presentation-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.presentation-icons img {
    width: 2.4rem;
    height: 2.4rem;
}

.my-image {
    background: linear-gradient(90.23deg, #00f58d 0.02%, #00acef 99.63%);

    border: 1rem solid rgba(255, 255, 255, 0.816);
    border-radius: 50%;

    margin-top: 6rem;
}

.my-image img {
    width: 20rem;
    height: 19.8rem;

    border-radius: 50%;
}

@media only screen and (min-width: 360px) {
    .container-presentation h2 {
        font-size: 1.8rem;
    }

    .container-presentation h1 {
        font-size: 2.4rem;
    }

    .container-presentation h3 {
        font-size: 1.4rem;
    }

    .presentation-icons img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .my-image img {
        width: 25rem;
        height: 24.8rem;
    }

    @keyframes typing {
        0% {
            width: 0;
        }
    
        50% {
            width: 20.466rem;
        }
    }
}

@media only screen and (min-width: 390px) {
    .my-image img {
        width: 30rem;
        height: 29.8rem;
    }
}