.arrow-up {
    width: 3.6rem;
    height: 3.6rem;

    background: linear-gradient(90.23deg, #00f58d 0.02%, #00acef 99.63%);

    display: none;
    align-items: center;
    justify-content: center;

    border-radius: 0.8rem;

    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 2;

    cursor: pointer;
}

.arrow-up img {
    width: 2rem;
    height: 2rem;
}

.arrow-up-off {
    display: flex;
}

@media only screen and (min-width: 360px) {

    .arrow-up {
        width: 4.2rem;
        height: 4.2rem;
    }

}

@media only screen and (min-width: 412px) {

    .arrow-up {
        width: 4.6rem;
        height: 4.6rem;
    }

    .arrow-up img {
        width: 2.4rem;
        height: 2.4rem;
    }
}

@media only screen and (min-width: 540px) {

    .arrow-up {
        width: 5rem;
        height: 5rem;
    }

    .arrow-up img {
        width: 2.6rem;
        height: 2.6rem;
    }
}