.projects {
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 3rem 2rem;
}

.projects strong {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.816);
    margin-bottom: 2rem;
}

.carousel {
    width: 100%;
}

.carousel .card {
    cursor: pointer;
}

.container-finger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-top: 4rem;
    position: relative;
}

.container-finger img {
    position: absolute;
    animation: finger-effect 1.5s infinite ease-out;
}

.container-finger strong {
    margin-top: 11rem;
}

@keyframes finger-effect {
    0% {
        top: 4rem;
    }

    40% {
        top: -2rem;
    }

    50% {
        top: -2rem;
    }

    60% {
        top: -2rem;
    }

    100% {
        top: 4rem;
    }
}

@media only screen and (min-width: 412px) {
    .projects strong {
        font-size: 1.6rem;
    }

    .container-finger img {
        width: 7.2rem;
        height: 7.2rem;
    }

    .container-finger strong {
        margin-top: 13rem;
    }
}

@media only screen and (min-width: 540px) {
    .projects strong {
        font-size: 2rem;
    }

    .container-finger img {
        width: 7.6rem;
        height: 7.6rem;
    }
}

@media only screen and (min-width: 768px) {
    .projects strong {
        font-size: 2.4rem;
    }

    .container-finger img {
        width: 8.2rem;
        height: 8.2rem;
    }
}

@media only screen and (min-width: 820px) {
    .projects strong {
        font-size: 2.8rem;
    }

    .container-finger img {
        width: 9rem;
        height: 9rem;
    }

    .container-finger strong {
        margin-top: 15rem;
    }
}

@media only screen and (min-width: 912px) {
    .projects strong {
        font-size: 3.8rem;
    }

    .carousel {
        margin-top: 4rem;
    }

    .container-finger img {
        width: 12rem;
        height: 12rem;
    }

    .container-finger strong {
        margin-top: 18rem;
    }
}

@media only screen and (min-width: 1024px) {
    .projects strong {
        font-size: 2.8rem;
    }

    .carousel {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 1280px) {
    .projects strong {
        font-size: 3.2rem;
    }

    .carousel {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 1366px) {
    .projects strong {
        font-size: 3.4rem;
    }

    .carousel {
        padding: 0 4rem;
    }
}

@media only screen and (min-width: 1366px) {
    .carousel {
        padding: 0 6rem;
    }
}