.container {
    min-height: 100vh;

    background-color: #1f2a4a;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.patch-title {
    width: 10rem;

    background: linear-gradient(90.23deg, #00f58d 0.02%, #00acef 99.63%);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;

    border-radius: 0.8rem;
}

.patch-title h1 {
    font-weight: 600;
    font-size: 1.4rem;
    color: #1d2b5e;
}

.container-detail-projects {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6.8rem;

    background-color: rgba(255, 255, 255, 0.816);
}

.container-detail-projects h1,
.container-detail-projects h2,
.container-detail-projects p,
.container-detail-projects h3 {
    color: #1d2b5e;
}

.container-detail-projects h3 {
    letter-spacing: 0.2rem;
}

.main-db,
.main-dindin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    padding: 3rem 2rem;
}

.main-db img,
.main-dindin img {
    width: 24rem;
    box-shadow: 0 1px 10px #00acef;
}

.project-presentation,
.project-details {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.patch-title-db {
    width: 14rem;
}

.btns-project {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 2rem;
}

.btns-project button {
    all: unset;

    width: 10rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: #1f2a4a;
    font-weight: bold;
    border-radius: 0.8rem;
    box-shadow: 0 1px 10px #00acef;

    margin-bottom: 2rem;
}

.btns-project button a {
    color: rgba(255, 255, 255, 0.816);
    text-decoration: none;
}