.skills {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 3rem 2rem;
}

.patchs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.4rem;

    margin-top: 1rem;
}

.patch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: #323b5a;

    padding: 2rem;

    border-radius: 0.8rem;
    box-shadow: 0 1px 10px #00acef;
}

.patch strong {
    color: rgba(255, 255, 255, 0.816);
}

@media only screen and (min-width: 360px) {
    .patch {
        padding: 4rem;
    }

    .patch strong {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 412px) {
    .patch {
        padding: 5rem;
    }

    .patch strong {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 540px) {
    .patch {
        width: 23.4rem;
        height: 25.2rem;

        justify-content: center;
        padding: 0;
    }

    .patch img {
        width: 8rem;
        height: 8rem;
    }

    .patch strong {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .patch {
        width: 30.4rem;
        height: 32.2rem;
        gap: 2rem;
    }

    .patch img {
        width: 10rem;
        height: 10rem;
    }

    .patch strong {
        font-size: 2.6rem;
    }
}