.about-me {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 3rem 2rem;
}

.about-me h3,
.about-me p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.816);
}

.about-me h3 {
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.about-me p {
    font-weight: 300;
}

.btn-cv {
    all: unset;

    width: 10rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    text-decoration: none;
    color: #00acef;

    border: 1px solid #00acef;
    border-radius: 0.8rem;

    cursor: pointer;
}

.btn-cv:hover {
    box-shadow: 0 0 15px #00acef, inset 0 0 15px #00acef;
    text-shadow: 0 0 15px #00acef;
}

@media only screen and (min-width: 360px) {

    .about-me h3,
    .about-me p {
        font-size: 1.4rem;
    }

    .btn-cv {
        width: 12rem;
        font-size: 1.2rem;
    }
}