.contact {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 3rem 2rem;
}

.contact strong,
.contact span,
.contact a {
    color: rgba(255, 255, 255, 0.816);
}

.contact strong {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.contact span {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact a {
    font-size: 1.2rem;
}

.patchs-contact {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    flex-wrap: wrap;
}

.patch-contact {
    width: 22.4rem;
    height: 16rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background-color: #323b5a;

    padding: 2rem;

    border-radius: 0.8rem;
    box-shadow: 0 1px 10px #00acef;
}

.patch-contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patch-contact-title img {
    width: 2.4rem;
    height: 2.4rem;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin-top: 2rem;
}

.content-form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
}

.container-form button {
    all: unset;
    width: 22rem;
    background: linear-gradient(90.23deg, #00f58d 0.02%, #00acef 99.63%);
    text-align: center;
    color: #1f2a4a;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1.4rem 0;
    border-radius: 0.8rem;
    margin-top: 1rem;
}

.container-input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.container-input input,
.container-input textarea {
    all: unset;
    border-radius: 0.6rem;
    background-color: #00acef;
    padding-left: 1rem;
    box-shadow: 0 1px 10px #00acef;
}

.container-input input {
    height: 4rem;
}

.container-input input::placeholder,
.container-input textarea::placeholder {
    color: #1f2a4a;
    font-size: 1.2rem;
}

.container-input textarea {
    padding-top: 1rem;
}

.container-input label {
    color: rgba(255, 255, 255, 0.816);
    letter-spacing: 0.1rem;
}

.form-btn {
    display: flex;
    justify-content: center;

    cursor: pointer;
}

@media only screen and (min-width: 360px) {
    .patch-contact {
        width: 27.4rem;
        height: 21rem;
    }

    .patch-contact-title img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .patch-contact-title strong {
        font-size: 1.6rem;
    }

    .contact span,
    .contact a {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 412px) {
    .contact strong {
        font-size: 1.6rem;
    }

    .patch-contact {
        width: 31.4rem;
        height: 25rem;
    }

    .patch-contact-title img {
        width: 4rem;
        height: 4rem;
    }

    .patch-contact-title strong {
        font-size: 1.8rem;
    }

    .contact span,
    .contact a {
        font-size: 1.6rem;
    }

    .container-form button {
        width: 26rem;
        font-size: 1.6rem;

        margin-top: 2rem;
    }

    .container-input {
        gap: 0.4rem;
    }

    .container-input input::placeholder,
    .container-input textarea::placeholder {
        font-size: 1.4rem;
    }

    .container-input label {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 540px) {
    .contact strong {
        font-size: 2rem;
    }

    .patch-contact {
        width: 35.4rem;
        height: 29rem;
    }

    .patch-contact-title img {
        width: 6rem;
        height: 6rem;
    }

    .patch-contact-title strong {
        font-size: 2.2rem;
    }

    .contact span,
    .contact a {
        font-size: 1.8rem;
    }

    .container-form button {
        font-size: 1.8rem;

        margin-top: 4rem;
    }

    .container-input {
        gap: 0.6rem;
    }

    .container-input input::placeholder,
    .container-input textarea::placeholder {
        font-size: 1.6rem;
    }

    .container-input label {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 768px) {
    .contact strong {
        font-size: 2.4rem;
    }

    .patch-contact {
        width: 48.4rem;
        height: 42rem;
    }

    .patch-contact-title {
        gap: 1rem;
    }

    .patch-contact-title img {
        width: 10rem;
        height: 10rem;
    }

    .patch-contact-title strong {
        font-size: 2.8rem;
    }

    .contact span,
    .contact a {
        font-size: 2.4rem;
    }

    .container-form {
        width: 100%;
    }

    .content-form {
        width: 90%;
    }

    .container-input {
        gap: 0.8rem;
    }

    .container-input input::placeholder,
    .container-input textarea::placeholder {
        font-size: 1.8rem;
    }

    .container-input label {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 820px) {
    .contact strong {
        font-size: 2.8rem;
    }

    .patch-contact {
        width: 54.4rem;
        height: 48rem;
    }

    .patch-contact-title {
        gap: 1rem;
    }

    .patch-contact-title img {
        width: 12rem;
        height: 12rem;
    }

    .patch-contact-title strong {
        font-size: 3.2rem;
    }

    .contact span,
    .contact a {
        font-size: 2.8rem;
    }

    .container-form {
        width: 100%;
    }

    .content-form {
        gap: 2rem;
    }

    .container-form button {
        width: 32rem;
        font-size: 2.2rem;
    }

    .container-input {
        gap: 0.8rem;
    }

    .container-input input::placeholder,
    .container-input textarea::placeholder {
        font-size: 2rem;
    }

    .container-input label {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 912px) {
    .contact strong {
        font-size: 3.8rem;
    }

    .patch-contact {
        width: 60.4rem;
        height: 54rem;
    }

    .patch-contact-title {
        gap: 2rem;
    }

    .patch-contact-title img {
        width: 14rem;
        height: 14rem;
    }

    .patch-contact-title strong {
        font-size: 3.8rem;
    }

    .contact span,
    .contact a {
        font-size: 3.2rem;
    }

    .content-form {
        gap: 3rem;
    }

    .container-form button {
        width: 36rem;
        font-size: 2.8rem;
    }

    .container-input {
        gap: 1rem;
    }

    .container-input input {
        height: 6rem;
    }

    .container-input input::placeholder,
    .container-input textarea::placeholder {
        font-size: 2.4rem;
    }

    .container-input label {
        font-size: 2rem;
    }

    .form-btn {
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .contact strong {
        font-size: 2.8rem;
    }

    .patch-contact {
        width: 30.4rem;
        height: 34rem;
    }

    .patch-contact-title {
        gap: 1rem;
    }

    .patch-contact-title img {
        width: 8rem;
        height: 8rem;
    }

    .patch-contact-title strong {
        font-size: 2.2rem;
    }

    .contact span,
    .contact a {
        font-size: 1.6rem;
    }

    .content-form {
        gap: 2rem;
    }

    .container-form button {
        width: 30rem;
        font-size: 2.4rem;
    }

    .container-input input::placeholder,
    .container-input textarea::placeholder {
        font-size: 2rem;
    }

    .container-input label {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1280px) {
    .contact strong {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    .patchs-contact {
        gap: 3.2rem;
    }

    .patch-contact {
        width: 36.4rem;
        height: 40rem;
    }

    .patch-contact-title {
        gap: 2rem;
    }

    .patch-contact-title strong {
        font-size: 2.6rem;
    }

    .contact span,
    .contact a {
        font-size: 2rem;
    }
    
    .container-form button:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}

@media only screen and (min-width: 1366px) {
    .contact strong {
        font-size: 3.4rem;
        margin-bottom: 4rem;
    }

    .patchs-contact {
        gap: 3.4rem;
    }

    .patch-contact {
        width: 40.4rem;
        height: 44rem;
    }

    .patch-contact-title strong {
        font-size: 2.8rem;
    }

    .contact span,
    .contact a {
        font-size: 2.2rem;
    }

}

@media only screen and (min-width: 1600px) {
    .content-form {
        padding: 0 16rem;
    }
}