.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #323b5a;
    box-shadow: 0 1px 10px #00acef;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    padding: 1rem 1rem 1rem 2rem;
}

.header nav {
    display: none;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.header li {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.816);
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.2rem;
}

.header li:hover {
    color: #00acef;
    letter-spacing: 0.4rem;
    transform: scale(1.1);
    transition: 0.5s;
    text-shadow: 0 1px 10px #00acef;
}

.logo-image {
    display: none;
    width: 30rem;
    height: -20rem;
}

.menu-image {
    width: 4.8rem;
    height: 4.8rem;
}

@media only screen and (min-width: 360px) {
    .menu-image {
        width: 5.4rem;
        height: 5.4rem;
    }
}

@media only screen and (min-width: 412px) {

    .mini-logo-image {
        width: 5.4rem;
        height: 5.8rem;
    }

    .menu-image {
        width: 6.2rem;
        height: 6.2rem;
    }
}

@media only screen and (min-width: 540px) {

    .mini-logo-image {
        width: 5.6rem;
        height: 6rem;
    }

    .menu-image {
        width: 6.4rem;
        height: 6.4rem;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 1rem 2rem 1rem 3rem;
    }

    .mini-logo-image {
        width: 6.6rem;
        height: 7rem;
    }

    .menu-image {
        width: 7.2rem;
        height: 7.2rem;
    }
}

@media only screen and (min-width: 820px) {
    .header {
        padding: 1rem 3rem 1rem 4rem;
    }

    .mini-logo-image {
        width: 7.6rem;
        height: 8rem;
    }

    .menu-image {
        width: 8rem;
        height: 8rem;
    }
}

@media only screen and (min-width: 912px) {
    .header {
        padding: 1rem 4rem 1rem 5rem;
    }

    .mini-logo-image {
        width: 8.6rem;
        height: 9rem;
    }

    .menu-image {
        width: 9rem;
        height: 9rem;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        padding: 1rem 4rem 1rem 3rem;
    }

    .header nav {
        display: block;
    }

    .logo-image {
        display: block;
    }

    .mini-logo-image {
        display: none;
    }

    .menu-image {
        display: none;
    }

    .mini-logo-image-projects {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .header li {
        font-size: 2rem;
    }
}